<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/home.css" class="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <title>Task Scheduler</title>
</head>
<body class="super-container">
    <nav class="nav-bar">
        <ul>
            <li class="brand"><a href="/">TS</a></li>
            <div class="navs">
                <li><button id="stylesheet1">Default look</button></li>
                <li><button id="stylesheet2">Dark look</button></li>
                <li class="sign-up"><a href="/register">Sign Up</a></li>
            </div>
        </ul>
    </nav>
    <main class="container">
        <% if(message.length > 0) { %>
        <div class="flash-message"><%=message%></div>
        <% } %>
        <h1 class="heading">Welcome to the task Scheduler</h1>
        <div class="login-form"> 
            <div class="image"></div>   
            <form action="/" method="POST" class="login">
                <div class="login-text">LOGIN</div>
                <input type="text"name="username"placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <button class="login-btn">Login</button>
            </form>
        </div>
    </main>
    <footer class="footer">
        <ul>
            <li>About Project</li>
            <li>Contact Me</li>
        </ul>
    </footer>
    <script src="../theme.js"></script>
</body>
</html>