<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Task Scheduler</title>
</head>
<body>
    <h1>Welcome to the task Scheduler</h1>
    <h3>Tasks:</h3>
    <ol>
        <% tasks.forEach(function(task){ %>
            <li>    
                <h4><%=task.user%></h4>
                <p><%=task.task%></p>
                <form action="/delete"><button>DELETE</button></form>
            </li>
        <%});%>
    </ol>
    <div class="add-task">Add Tasks:</div>
    <form action="/" method="POST" class="add-task">
        <input type="text" name="user" placeholder="Username">
        <input type="text" name="task" placeholder="Task">
        <button>Submit</button>
    </form>    
</body>
</html>