<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Task Scheduler</title>
</head>

<body>
    <nav>
        <ul>
            <li class="brand"><a href="/">TS</a></li>
            <li><a href="/">Login</a></li>
        </ul>
    </nav>
    <p class="flash-message" style="font-size: 20px;"><%= message%></p>
    <h1>Sign Up</h1>
    <fieldset class="fieldset">
        <legend class="legend">SIGNUP FOR TASKSCHEDULER</legend>
            <form action="/register" method="POST">
                <input type="text" name="firstname" placeholder="First Name">
                <input type="text" name="lastname" placeholder="Last Name">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <button>Sign Up</button>
            </form>
    </fieldset>

</body>
</html>