<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/home.css" class="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <title>Task Scheduler</title>
</head>
<body class="super-container">
    <nav class="nav-bar">
        <ul>
            <li class="brand"><a href="/">TS</a></li>
            <li class="sign-up"><a href="/">Login</a></li>
        </ul>
    </nav>
    <main class="container">
        <% if(message.length > 0) { %>
        <div class="flash-message"><%=message%></div>
        <% } %>
        <h1 class="heading">Welcome to the task Scheduler</h1>
        <div class="login-form"> 
            <div class="image"></div>   
            <form action="/register" method="POST" class="login">
                <div class="login-text">SIGN UP</div>
                <input type="text" name="firstname" placeholder="First Name" required>
                <input type="text" name="lastname" placeholder="Last Name" required>
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" id="pass1" required>
                <input type="password" name="password" placeholder="Confirm Password" id="pass2" required>
                <p class="alert message"></p>     
                <button class="login-btn disable">Sign Up</button>
            </form>
        </div>
    </main>
    <footer class="footer">
        <ul>
            <li>About Project</li>
            <li>Contact Me</li>
        </ul>
    </footer>
    <script src="../main.js"></script>
</body>
</html>
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Task Scheduler</title>
</head>

<body>
    <nav>
        <ul>
            <li class="brand"><a href="/">TS</a></li>
            <li><a href="/">Login</a></li>
        </ul>
    </nav>
    <p class="flash-message" style="font-size: 20px;"><%= message%></p>
    <h1>Sign Up</h1>
    <fieldset class="fieldset">
        <legend class="legend">SIGNUP FOR TASKSCHEDULER</legend>
            <form action="/register" method="POST">
                <input type="text" name="firstname" placeholder="First Name" required>
                <input type="text" name="lastname" placeholder="Last Name" required>
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>     
                <button>Sign Up</button>
            </form>
    </fieldset>

</body>
</html> -->