*{
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    position: relative;
    font-family: 'Quicksand', sans-serif;
}
.flash-message{
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    width: 30rem;
    height: 1.8rem;
    text-align: center;
    border-radius: 0.3rem;
    padding: 0.3rem;
}
.super-container{
    display: grid;
    grid-template-rows: 8% 84% 8%;
    height: 100%;
}
.nav-bar ul, .footer ul{
    list-style: none;
}
.nav-bar ul, .footer ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 8rem;
    font-size: 1.2rem;
}
.nav-bar{
    position: sticky;
    background-color: #232626;
}
.nav-bar a{
    text-decoration: none;
    color: white;
}
.heading{
    text-align: center;
    margin: 2rem auto;
}
.login-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    grid-column-gap: 1.5rem;
    height: 60vh;
    background-color: #232626;
    padding: 1rem;
    box-shadow: 0.6rem 0.6rem 0.2rem rgba(0,0,0,0.8);
    border-radius: 0.3rem;
    width: 41rem;
}
.image{
    background-image: url("../main.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 0.3rem;
}
.login{
    display: flex;
    flex-direction: column;
}
.login-text{
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.login input{
    margin: 1rem;
    height: 2rem;
    text-align: center;
    border-radius: 1rem;
    outline: none;
}
.login-btn{
    margin: 1rem auto;
    padding: 0.6rem;
    border-radius: 1rem;
    width: 9rem;
    border: 0;
    background: #7f00ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7f00ff, #e100ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7f00ff, #e100ff); 
    color: white;
    cursor: pointer;
    outline: none;
}
.footer ul{
    background-color: #232626;
    color: white;
    height: 100%; 
    justify-content: center;
}
.footer li{
    padding-right: 2rem;
}