*{
    font-family: 'Quicksand', sans-serif;
}
.heading-task{
    font-size: 1.2rem;
    margin-top: 2.5rem;
    margin-left: 1rem; 
    font-weight: 500;
}

.tasks, .add-task{
    background-color: #232626;
    color: white;
    width: 15rem;
    margin: 20px;
    padding: 1rem;
    border-radius: 10px;
    list-style: none; 
}
.user-name{
    margin-top: 10px;
    margin-bottom: 5px;
}

.add-task-head{
    font-size: 1.2rem;
    margin-left: 1rem;
}

/* .add-task{
    font-size: 22px;
    /* margin: auto; */
   /* margin-left: 1rem;
    margin-top: 2rem;  
    display: block;
    width: 200px;
    border-radius: 0.3rem;
    padding: 1rem;
    background-color: #232626;
} */
.add-task input{
    margin: 1rem auto;
    height: 2rem;
    width: 12rem;
    text-align: center;
    border-radius: 1rem;
    outline: none;
}
.login-btn{
    margin-top: 0.5rem; 
}
/* 
form input {
    color: inherit;
    background: transparent;
    border: 2px solid #287eb8;
    border-radius: 20px;
    margin: 5px;
    padding: 12px 14px;
    text-align: center;
    outline: none;
    display: block;
}

form input:focus,
form input:hover {
    border: 2px solid #2ecc71;
    padding: 12px 34px;
}

form button {
    background: transparent;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    border: 2px solid #2ecc71;
    cursor: pointer;
    margin: 5px auto;
    display: block;
    outline: none;
}

form button:hover {
    background: #2ecc71;
} */

/* Desktop view */
/* 
@media (min-width: 640px){
    .tasks{
        width: 300px;
    }
    .add-task{
        margin: 1rem;
        /* display: inline; */
       /* padding: 2rem;
    }
    form input{
        display: inline-block;
    }
    form button{
        display: inline;    
    }
} */